:root {
    --accent-color: #9ca3af;
    --bright-color: #fff;
    --bg-color: #f3f4f6;
    --text-color: #1f2937;
  }
  .indexer__wrapper {
    background-color: var(--bg-color);

  
    color: var(--accent-color);
    font-size: 17px;
    position: relative;
  }
  * {
    box-sizing: border-box;
  }
  .box {
    /* display: grid; */
    width: 100%;
    height: 100%;
    padding: 16px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "form display display";
    gap: 16px;
  }
  
  details {
    padding: 0 5vw;
    color: var(--text-color);
  }
  
  .results {
    width: 100%;
    height: 100%;
  }
  

  .keys {
    display: flex;
    min-height: 30px;
    padding: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    
  }
  .key__wrapper {
    padding: 1ch;
    background-color: var(--bg-color);
  }
  .list {
    /* display: inline-block; */
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 300px;
    background-color: var(--bright-color);
    white-space: pre-wrap;
    background-image: none;
    padding: 4ch;
    /* outline: 1px solid var(--accent-color); */
    /* outline-offset: 2ch; */
    /* border-radius: 30px; */
    grid-area: display;
    min-height: 70vh;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) var(--bg-color);
  }
  .title {
    grid-area: title;
  }
  .email {
    color: var(--bright-color);
  }
  #one {
    min-height: 25vh;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) var(--bg-color);
  }
  
  .list._active {
    background-image: url(../assets/images/Loading_icon.gif);
    background-repeat: no-repeat;
  
    background-position: center center;
  }
  
  table {
    border-collapse: collapse;
    /* border: 2px solid rgb(200,200,200); */
    letter-spacing: 1px;
  }
  
  td,
  th {
    border: 1px solid var(--accent-color);
    padding: 10px 20px;
  }
  
  th {
    background-color: var(--bright-color);
  }
  
  td {
    text-align: left;
    white-space: nowrap;
    overflow-x: scroll;
  }
  
  tr:nth-child(even) td {
    background-color: var(--bg-color);
  }
  
  tr:nth-child(odd) td {
    background-color: #0b396a;
  }
  
  caption {
    padding: 10px;
  }
  .custom-textarea {
    position: relative;
    /* width: 800px; */
    /* max-width: 90%; */
    /* margin: 20px auto; */
    /* border-radius: 5px; */
    /* box-shadow: 0 0 16px rgba(34, 39, 37, 0.3); */
    overflow: hidden;
    /* padding-left: 32px; */
  }
  /* .custom-textarea::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 42px;
    width: 16px;
    height: 100%;
    background: #FFFFFF;
    pointer-events: none;
    z-index: 1;
  } */
  .custom-textarea > .textarea {
    display: block;
    position: relative;
    z-index: 1;
    /* width: calc(100% - 58px); */
    /* height: 150px; */
    /* min-height: 150px; */
    /* max-height: 90vh; */
    /* margin-left: 58px; */
    font-size: 16px;
    line-height: 24px;
    outline: none;
    border: none;
    /* border-radius: 0 5px 5px 0; */
    resize: vertical;
    white-space: pre;
    overflow: auto;
    word-wrap: normal;
    padding-left: 36px;
    /* color: #121113; */
    /* background: #FFFFFF; */
  }
  .custom-textarea > .textarea::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #899878;
  }
  .custom-textarea > .textarea::-webkit-scrollbar {
    width: 12px;
    background-color: #FFFFFF;
  }
  .custom-textarea > .textarea::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #E4E6C3;
  }
  .custom-textarea > .linenumbers {
    position: absolute;
    top: -17px;
    left: 8px;
    width: 0px;
   z-index: 20;
  }
  .custom-textarea > .linenumbers > .number {
    font-size: 12px;
    line-height: 24px;
    color: var(--accent-color);
    width: 24px;
  }
  .number:first-child {
    visibility: hidden;
  }
  .progress__stats {
left: auto;
right: 20px;
transform: translateX(0%);
transition: all .5s;
  } 
  /* .progress_wrapper {
    position: fixed;
    bottom: 3vh;
    right: 3vh;
  } */

  .progress__stats.prg-hide {
transform: translateX(130%);
  }
   